# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


Makefile
check/.deps/checkbin.Po
check/.deps/pgmdiff.Po
check/Makefile
config.h
config.log
config.status
doc/Makefile
doc/mkbitmap.1
doc/potrace.1
libtool
src/.deps/backend_dxf.Po
src/.deps/backend_eps.Po
src/.deps/backend_geojson.Po
src/.deps/backend_pdf.Po
src/.deps/backend_pgm.Po
src/.deps/backend_svg.Po
src/.deps/backend_xfig.Po
src/.deps/bbox.Po
src/.deps/bitmap_io.Po
src/.deps/curve.Plo
src/.deps/decompose.Plo
src/.deps/flate.Po
src/.deps/getopt.Po
src/.deps/getopt1.Po
src/.deps/greymap.Po
src/.deps/lzw.Po
src/.deps/main.Po
src/.deps/mkbitmap.Po
src/.deps/potracelib.Plo
src/.deps/potracelib_demo.Po
src/.deps/progress_bar.Po
src/.deps/render.Po
src/.deps/trace.Plo
src/.deps/trans.Po
src/.libs/libpotrace.lai
src/Makefile
src/mkbitmap
src/potrace
stamp-h1